---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Suscríbete',
        href: '#',
        target: '_blank',
        icon: 'tabler:mail',
      },
      { text: 'Conócenos', href: '#features' },
    ]}
    image={{ src: '~/assets/images/hero.jpg', alt: 'Plyson Hero Image' }}
  >
    <Fragment slot="title">
      Empoderando a negocios <span class="hidden xl:inline">pequeños y medianos</span>
      <span class="text-accent dark:text-white highlight"> en la era digital</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold"></span>Transformación a través de <strong>Videos Explicativos</strong>, <br />Programas Formativos y Marketing Digital</span
      >
      <!-- <span class="block mb-1 sm:hidden font-bold text-blue-600"></span>
       -->
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Nuestra Promesa"
    title="Tu Éxito, Nuestra Misión"
    subtitle="En Plyson, nuestra misión es clara: estamos comprometidos a impulsar tu éxito. Nos esforzamos incansablemente para superar tus expectativas y brindarte soluciones de primer nivel en videos explicativos, programas formativos y marketing digital."
    items={[
      {
        title: 'Excelencia Creativa:',
        description:
          'Nuestro equipo trabaja incansablemente para producir contenido visualmente impactante y altamente efectivo que captura la esencia de tu mensaje y lo comunica de manera memorable.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Innovación Continua',
        description:
          'Estamos a la vanguardia de las últimas tendencias y tecnologías en marketing digital y capacitación. Constantemente buscamos nuevas formas de mantener tu negocio a la vanguardia en un mundo en constante cambio.',
        icon: 'tabler:components',
      },
      {
        title: 'Colaboración Personalizada',
        description:
          'Creemos en la colaboración estrecha contigo para comprender tus necesidades únicas. Creamos soluciones personalizadas que se adaptan perfectamente a tus objetivos y visión.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Transparencia y Ética',
        description:
          'Operamos con total transparencia y ética en cada paso del proceso. Puedes confiar en nosotros para brindarte un servicio honesto y de alta calidad en todo momento.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Resultados Medibles',
        description:
          "Nuestra obsesión por el éxito se traduce en resultados medibles y tangibles. Estamos comprometidos a ayudarte a alcanzar tus metas y a medir el impacto de nuestras soluciones en tu crecimiento y éxito.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Socios estratégicos',
        description:
          'En Plyson, no solo creamos contenido excepcional, sino que también creamos relaciones duraderas y exitosas con nuestros clientes. Tu éxito es nuestra razón de ser, y trabajamos incansablemente para cumplir esa promesa en cada proyecto que emprendemos.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Nuestras Soluciones"
    title="Llega a tu audiencia con un mensaje potente y claro"
    items={[
      {
        title: 'Contenido Relevante',
        description:
          'Lecciones diseñadas específicamente para tus objetivos y nivel.',
      },
      {
        title: 'Mentoría Expertal',
        description:
          'Acceso a tutores y asesoría para un aprendizaje efectivo.',
      },
      {
        title: 'Seguimiento Individual',
        description:
          'Evaluación continua y retroalimentación para un progreso constante.',
      },
    ]}
    image={{
      src: '~/assets/images/elearning.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">eLearning Personalizado</h3>
      Cursos adaptados a tus necesidades con expertos y seguimiento personalizado.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Narrativa Impactante',
        description: `Historias envolventes que conectan con tu audiencia.`,
      },
      {
        title: 'Diseño Visual Atractivo',
        description:
          'Gráficos y animaciones de alta calidad para destacar.',
      },
      {
        title: 'Mensaje Memorizable',
        description:
          "Comunicación efectiva que deja una impresión duradera.",
      },
    ]}
    image={{
      src: '~/assets/images/creacion-de-contenido.jpg',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content"><h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Creación de Contenido Impactante</h3>Videos explicativos y contenido visual que cautiva y comunica tu historia.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Campañas Personalizadas',
        description:
          'Estrategias adaptadas a tus metas y público objetivo.',
      },
      {
        title: 'Optimización Continua',
        description:
          'Mejoramos constantemente para obtener resultados excepcionales.',
      },
      {
        title: 'Métricas Claras',
        description:
          'Seguimiento detallado y reportes para medir el impacto y el retorno de inversión.',
      },
    ]}
    image={{
      src: '~/assets/images/consultoria-de-marketing.jpg',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content"><h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Potencia tu Presencia en Línea</h3>Estrategias digitales a medida, publicidad efectiva y análisis detallado para impulsar tu marca.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Nuestro Proceso de Colaboración"
    items={[
      {
        title: 'Paso 1: <span class="font-medium">Consulta Inicial</span>',
        description:
          "Nos reunimos contigo para comprender tus objetivos, desafíos y necesidades específicas, estableciendo las bases de nuestro trabajo conjunto.",
        icon: 'tabler:package',
      },
      {
        title: 'Paso 2: <span class="font-medium">Diseño y Estrategia Personalizados</em>',
        description:
          "Creamos soluciones a medida, ya sea contenido, formación o estrategias digitales, alineadas con tus metas y audiencia.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Paso 3: <span class="font-medium">Implementación y Seguimiento Continuo</span>',
        description:
          'Ejecutamos el plan acordado y mantenemos una comunicación constante para ajustar y optimizar, garantizando resultados exitosos.',
        icon: 'tabler:paint',
      },
      {
        title: '¡Listo!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Nuestra Ventaja Competitiva"
    subtitle="Descubre por qué somos la elección preferida para el éxito empresarial."
    tagline="Tu elección"
    items={[
      {
        title: 'Innovación',
        description: "Constantemente evolucionamos para ofrecerte las soluciones más vanguardistas y efectivas en el mercado.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Personalización',
        description:
          "Cada servicio se adapta a tus necesidades únicas, garantizando resultados excepcionales.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Experiencia',
        description:
          'Años de experiencia respaldan nuestra capacidad para ofrecer servicios de calidad insuperable.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Calidad',
        description:
          "Entregamos contenido y estrategias digitales de alta calidad que resaltan y destacan.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Transparencia',
        description:
          'Mantenemos una comunicación abierta y honesta en cada etapa de nuestra colaboración.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Compromiso',
        description: 'Tu éxito es nuestra prioridad, y trabajamos incansablemente para alcanzar tus objetivos.',
        icon: 'flat-color-icons:database',
      },
      {
        title: 'Tecnología Avanzada',
        description: 'Utilizamos las últimas tecnologías para ofrecer soluciones de punta en marketing y aprendizaje.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Talento Creativo',
        description:
          'Nuestro equipo de expertos creativos aporta innovación y frescura a cada proyecto.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Resultados Medibles',
        description: "Ofrecemos métricas claras y seguimiento detallado para demostrar el impacto de nuestro trabajo.",
        icon: 'flat-color-icons:currency-exchange',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Recursos y Estrategias para el Éxito Empresarial"
    information={`Explora nuestro blog para obtener información valiosa sobre marketing, aprendizaje y creación de contenido. Aprende, inspira y crece con nosotros.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Preguntas Frecuentes"
    subtitle="Respuestas a tus interrogantes más comunes sobre nuestros servicios y cómo podemos ayudarte a triunfar."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿Qué diferencia a Plyson de otras agencias de marketing digital?',
        description:
          "Plyson se destaca por su enfoque personalizado, innovación constante y un historial probado de resultados tangibles para nuestros clientes.",
      },
      {
        title: ' ¿Cómo determinan cuál es la estrategia de marketing adecuada para mi negocio?',
        description:
          'Realizamos un análisis detallado de tu negocio, mercado y competencia para desarrollar estrategias específicas que se alineen con tus objetivos y audiencia.',
      },
      {
        title: '¿Qué tipo de métricas y seguimiento proporcionan para evaluar el éxito de una campaña?',
        description:
          "Ofrecemos informes detallados con métricas clave, como conversiones, ROI, y KPIs específicos para evaluar el impacto y ajustar la estrategia.",
      },
      {
        title: "¿Pueden crear contenido de capacitación personalizado para mi equipo?",
        description:
          "Sí, desarrollamos programas de formación a medida que se ajustan a las necesidades de tu equipo y brindamos seguimiento continuo.",
      },
      {
        title: '¿Cuánto tiempo lleva ver resultados significativos en una estrategia de marketing digital?',
        description:
          "Los tiempos varían según la estrategia, pero nuestros enfoques están diseñados para generar resultados mensurables en un plazo razonable.",
      },
      {
        title: '¿Cómo puedo comenzar a trabajar con Plyson?',
        description:
          "¡Es fácil! Comienza por contactarnos a través de nuestro sitio web o correo electrónico. Estaremos encantados de hablar sobre tus metas y necesidades.",
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Clientes Felices', amount: '132' },
      { title: 'Proyectos Exitosos', amount: '248' },
      { title: 'Nuestra Comunidad', amount: '2,480' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Suscríbete',
        href: '#',
        target: '_blank',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">
      Únete a Nuestra Comunidad<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"></span>
    </Fragment>

    <Fragment slot="subtitle">
      No te pierdas nuestras últimas actualizaciones, consejos y ofertas exclusivas. Suscríbete ahora para estar siempre un paso adelante.
    </Fragment>
  </CallToAction>
</Layout>
